.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 160px;
  padding: 12px;
  border-radius: 1px;
  border: 2px solid blue;
  box-shadow: -5px 5px 0 blue;
  gap: 30px;
}